@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("assets/fonts/Vazir-FD-WOL.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Vazir", sans-serif;
}

:root {
  --color-primary: #328e6e;
  --color-secondary: #67ae6e;
  --color-accent: #90c67c;
  --color-light: #e1eebc;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}

.bg-light {
  background-color: var(--color-light);
}

.text-light {
  color: var(--color-light);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* برای اسکرول افقی */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e1eebc;
  border-radius: 999px;
  margin: 0 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #67ae6e;
  border-radius: 999px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 24px;
  border-radius: 999px;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.7;
}

.swiper-pagination-bullet:hover {
  background-color: black;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px;
}

.swal-title-small {
  font-size: 20px !important;
}
